// global styles
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}



// swiper
.slider-s {
  .container {
    @media (max-width: 768px) {
      padding: 0;
    }
    .swiper {
      background-color: #f8f6f6;
      max-height: 500px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      @media (max-width: 1440px) {
        max-height: 450px;
      }
      @media (max-width: 1200px) {
        max-height: 400px;
      }
      @media (max-width: 768px) {
        max-height: 800px;
      }
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          .swiper-img {
            img {
              width: 100%;
              height: auto;
              margin: auto;
            }
            img:last-of-type {
              display: none;
            }
            @media (max-width: 768px) {
              img:first-of-type {
                display: none;
              }
              img:last-of-type {
                display: block;
              }
            }
          }
          .swiper-title {
            position: absolute;
            left: 7%;
            bottom: 20%;
            h2 {
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 2.5rem;
              color: #fff;
              margin: 0 0 5px 0;
              padding: 0;
            }
            p {
              font-size: 1rem;
              font-weight: 400;
              color: #555;
              margin: 0 0 2rem 0;
              padding: 0;
              color: #fff;
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #333;
              color: #fff;
              width: 100%;
              max-width: 250px;
              height: 50px;
              font-size: 0.8rem;
              text-decoration: none;
              text-transform: uppercase;
              transition: 300ms ease;
            }
            a:hover {
              background-color: #555;
            }
          }
        }
      }
      .swiper-button-prev, .swiper-button-next {
        opacity: 0;
      }
      .swiper-pagination {
        @media (min-width: 1120px) {
          height: 100%;
          right: 1.5rem;
        }
        .swiper-pagination-bullet {
          width: 15px;
          height: 15px;
          background-color: #fff;
          border: solid 1px #777;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background-color: #777;
        }
        .swiper-pagination-bullet:nth-child(1) {
          @media (min-width: 1120px) {
            position: absolute;
            top: 42%;
            right: 0;
          }
        }
        .swiper-pagination-bullet:nth-child(2) {
          @media (min-width: 1120px) {
            position: absolute;
            top: 47%;
            right: 0;
          }
        }
        .swiper-pagination-bullet:nth-child(3) {
          @media (min-width: 1120px) {
            position: absolute;
            top: 52%;
            right: 0;
          }
        }
      }
    }
  }
}
